*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.main_card{
    width: 100vw;
    height: 100vh;
    background-image: url(/images/5.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
    overflow-x: hidden;
}

.header_page{

    display: flex;
   flex-direction:column;
   width: 100%;

}

.navbar{
    display: flex;
    flex-direction: row;
   align-items: center;
   height: 100%;
   background:transparent;
   border:  2px solid rgba(255, 255, 255, .2);
   backdrop-filter: blur(50px);
   box-shadow:  0 0 10px rgba(0, 0, 0, .6);
   padding: 1rem;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    width: 50%;
    height: 100%;
    margin-right: 30%;


}
ul{
    list-style: none;
}

li{


    width: 5rem;
    text-align: center;
    padding: 2px;
}
.menu{
    display: flex;
    flex-direction: row;
    gap: 2rem;

}

.logo{
    height:100%;

 
}
.header_page img{
    width: 15%;
}

a{
    color:#d3d8de;
    text-decoration: none;
}



.logout{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-left: 60%;
 
}



.login_card{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background:transparent;
    border:  2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow:  0 0 10px rgba(0, 0, 0, .2);
    width: 30%;
    border-radius: 10px;
    padding: 2rem 2rem;
    color: #3fa4bc;
  
}

.title{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    color: #3fa4bc;
}

.username_input, .email_input, .password_input, .last_name_input, .first_name_input {
    display: flex;
    flex-direction: row;
}
::placeholder{
    color:#3fa4bc;
}

input{
    outline: none;
    border: none;
    border-bottom: 1px solid #132c3c;
    padding-bottom: 10px;
    width: 100%;
    background: transparent;
    color : #3fa4bc;
}


input:focus::-webkit-input-placeholder{
    color: #3fa4bc;
}

input:focus{
    border-bottom: 2px solid #3fa4bc;
    padding-bottom: 20px;
    color: #3fa4bc;;

}


.register_btn{
    border-radius: 20px;
    border: none;
    padding: 10px;
    width: 100%;
    color: #113f67;
    font-weight: 700;
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
    /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
}

.register_btn:hover{
    color: #3fa4bc;
}

a{
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
  
a:hover::before {
    width: 200px;
    height: 200px;
    animation: ripple78 1s ease-out infinite;
    opacity: 1;
}
  
@keyframes ripple78 {
    0% {
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      width: 200px;
      height: 200px;
      opacity: 0;
    }
}


